@model IEnumerable<Entities.Models.AddToCart>

@using Common.Cryptography;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layoutcms.cshtml";
}

<header class="page-header">
    <h2>AddToCart</h2>
   

    @*<div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Tables</span></li>
                <li><span>Basic</span></li>
            </ol>

        </div>*@
</header>

<div class="row">

    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">

                <h2 class="panel-title">AddToCart</h2>

            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover mb-none">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Product</th>
                                <th>ProductId</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Md5Encryption.Encrypt(item.ID.ToString())</td>

                                    <td>@Html.DisplayFor(modelItem => item.Product)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ProductId)</td>
                                    

                                    @*<td id="action-row">
                                            <a id="lnkEdit" href='@Url.Action("Edit", "Brand", new { Id = Md5Encryption.Encrypt(item.BrandID.ToString()) })' class="icons edit" data-toggle="tooltip" data-placement="left" data-original-title="Edit"><span class="glyphicon glyphicon-edit"></span> </a>
                                            <a id='lnkDelete' data='@Md5Encryption.Encrypt(item.BrandID.ToString())' class="icons" data-toggle="tooltip" data-original-title="Delete" data-placement="top"><span class="glyphicon glyphicon-remove"></span></a>

                                        </td>*@
                                </tr>
                            }
                        <tbody>
                            @*<tr>
                                        <td>1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td class="actions-hover actions-fade">
                                            <a href=""><i class="fa fa-pencil"></i></a>
                                            <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>fat</td>
                                        <td class="actions-hover actions-fade">
                                            <a href=""><i class="fa fa-pencil"></i></a>
                                            <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                        <td class="actions-hover actions-fade">
                                            <a href=""><i class="fa fa-pencil"></i></a>
                                            <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                </tbody>*@
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>