@model umartcms.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<div class="panel-body">
   @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
    @Html.AntiForgeryToken()
    @*<h2>@ViewBag.Title</h2>
        <hr />*@

    @Html.ValidationSummary(true)
    @Html.HiddenFor(m=>m.ReturnUrl,new {value = ViewBag.ReturnUrl})
        <div class="form-group mb-lg">
            <label>Username</label>
            <div class="input-group input-group-icon">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg" })
                @Html.ValidationMessageFor(m => m.UserName)
                @*<input name="username" type="text" class="form-control input-lg" />*@
                <span class="input-group-addon">
                    <span class="icon icon-lg">
                        <i class="fa fa-user"></i>
                    </span>
                </span>
            </div>
        </div>

        <div class="form-group mb-lg">
            <div class="clearfix">
                <label class="pull-left">Password</label>
                <a href="pages-recover-password.html" class="pull-right">Lost Password?</a>
            </div>
            <div class="input-group input-group-icon">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg" })
                @Html.ValidationMessageFor(m => m.Password)
                @*<input name="pwd" type="password" class="form-control input-lg" />*@
                <span class="input-group-addon">
                    <span class="icon icon-lg">
                        <i class="fa fa-lock"></i>
                    </span>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <div class="checkbox-custom checkbox-default">
                    <input id="RememberMe" name="rememberme" type="checkbox" />
                    <label for="RememberMe">Remember Me</label>
                </div>
            </div>
            <div class="col-sm-4 text-right">
                <button type="submit" class="btn btn-primary hidden-xs">Sign In</button>
                <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Sign In</button>
            </div>
        </div>


        @*<p class="text-center">Don't have an account yet? <a href="pages-signup.html">Sign Up!</a>*@

 }
</div>