@model IEnumerable<Entities.Models.Category>
@using Common.Cryptography;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layoutcms.cshtml";
}
<header class="page-header">
    <h2>Category</h2>
    <div class="col-md-2">
        <a href="@Url.Action("Create")" class="btn btn-success btn-blue btn-block"><span class="fa fa-plus"></span>New Category</a>
    </div>
    @*<div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Tables</span></li>
                <li><span>Basic</span></li>
            </ol>

        </div>*@
</header>
<div class="row">
    
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">

                <h2 class="panel-title">Category</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover mb-none">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>CategoryId</th>
                                <th>EncId</th>
                                <th>CategoryName</th>
                                <th>CategoryCode</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Md5Encryption.Encrypt(item.CategoryId.ToString())</td>

                                    <td>@Html.DisplayFor(modelItem => item.EncId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CategoryId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CategoryCode)</td>
                                    <td class="actions-hover actions-fade">
                                        <a href='@Url.Action("Edit", "Category", new { Id = Md5Encryption.Encrypt(item.CategoryId.ToString()) })'><i class="fa fa-pencil"></i></a>
                                        <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                    </td>

                                    @*<td id="action-row">
                        <a id="lnkEdit" href='@Url.Action("Edit", "Brand", new { Id = Md5Encryption.Encrypt(item.BrandID.ToString()) })' class="icons edit" data-toggle="tooltip" data-placement="left" data-original-title="Edit"><span class="glyphicon glyphicon-edit"></span> </a>
                        <a id='lnkDelete' data='@Md5Encryption.Encrypt(item.BrandID.ToString())' class="icons" data-toggle="tooltip" data-original-title="Delete" data-placement="top"><span class="glyphicon glyphicon-remove"></span></a>

                    </td>*@
                                </tr>
                            }
<tbody>
                            @*<tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                                <td class="actions-hover actions-fade">
                                    <a href=""><i class="fa fa-pencil"></i></a>
                                    <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td class="actions-hover actions-fade">
                                    <a href=""><i class="fa fa-pencil"></i></a>
                                    <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td class="actions-hover actions-fade">
                                    <a href=""><i class="fa fa-pencil"></i></a>
                                    <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>*@
                    </table>
                    <input id="row" placeholder="Enter Item Name" /><button id="irow">Insert Row</button><br /><br />
                </div>
            </div>
        </section>
    </div>
</div>

<script>
    $('#irow').click(function () {
        if ($('#row').val()) {
            $('#mtable tbody').append($("#mtable tbody tr:last").clone());
            $('#mtable tbody tr:last :checkbox').attr('checked', false);
            $('#mtable tbody tr:last td:first').html($('#row').val());
        } else { alert('Enter Text'); }
    });
</script>